name: ci-mlflow-project

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "MLProject/**"
      - ".github/workflows/**"

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        working-directory: MLProject
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run MLflow Project (local env, no conda)
        working-directory: MLProject
        run: |
          mlflow run . --env-manager=local \
            -P data_path=creditscoring_preprocessing/creditscoring_preprocessed.csv \
            -P target_col=target

      - name: Upload MLflow runs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: MLProject/mlruns
